input, select, textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}

input:focus, select:focus, textarea:focus {
    border-color: #67d76c;
    outline: none;
}

input[type="checkbox"] {
    cursor: pointer;
    width: 18px;
    height: 18px;
}

input[type="checkbox"]:before {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

input[type="checkbox"]:checked:before {
    color: #fff;
    background-color: #15b720;
    text-align: center;
    line-height: 18px;
    font-size: 18px;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input {
    min-height: 22px;
}

.input-wide {
    min-width: 55%;
}

label {
    min-width: 200px;
}

.fixed-textarea {
    resize: none;
}

.cbox {
    width: 20px;
    height: 20px;
}

.slct {
    height: 38px;
    min-width: 130px;
}

.comment-input {
    min-height: 18px;
    margin-right: 15px;
    margin-bottom: 7px;
    border: 1px solid #4d4d4d;

}
