.payload-files {
    position: absolute; 
    top: 0;
    left: 50%; 
    display: none; 
    background-color: #c3bfa5;
    padding: 14px;
    width: 45%; 
    height: 85%;
    z-index: 9999;
}

.payload-files-container {
    display: flex;
    flex-direction: column;
    height: 50%;
}

.payload-files-header {
    flex: 0 0 80px;
}

.payload-files-content {
    flex-grow: 1;
    overflow: auto;
}

.payload-files-bottom {
    height:40%;
}

.payload-files-bottom .payload-files-textarea {
    width: 100%;
    height: calc(100% - 20px); 
    box-sizing: border-box; 
    
}