:root {
    --action-btn: #92cb95;
    --action-btn-hover: #7db47f;
}

body, html {
    background-color: #312b2b;
}

input, select, textarea {
    background-color: #cbcbcb;
}

footer {
    background-color: #242424;
    color: #FFFFFF;
}

h2, h3, h4, h5 {
    color:#cccccc;
}

header {
    background-color: #1a1a1a;
}

.page-title {
    color: #67d76c;
}

.header-info {
    color: #9f9d9d;
}

.proxymock-content {
    background-color: #413e3e;
}

.proxy-obj, .mock-obj {
    color: #e5e5e5;
}
