body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    font-size: 12px;
    background-color: #e5e5e5;
}


header {
    background-color: #1a1a1a;
    padding: 10px;
    padding-left: 20px;
    text-align: left;
    padding: 8px;
}

button {
    border-radius: 3px;
    border: 2px solid #666;
    cursor: pointer;
    min-height: 25px;
    background-color: #FFFFFF;
}

button:hover {
    background-color: #cacaca;
}

.page-title {
    color: #67d76c;
    margin: 4px;
    font-size: 18px;
}

.page-title-sub {
    color: #ccc;
}

.header-info {
    color: #9f9d9d;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.container {
    flex-grow: 1;
    display: flex;
    margin-bottom: 150px;
}

.left, .right {
    flex: 1;
    text-align: left;
    border: none;
}

.left {
    border-right: 2px solid #000000;
}

footer {
    background-color: #e1ddc7;
    text-align: left;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 120px;
    overflow-y: auto;
    z-index: 999999;
}

footer.expanded {
    max-height: 100vh;
    height: 100%;
    width: 100%;
    position: fixed;
}

#footer-log {
    margin-top: 75px;
    margin-left: 10px;
}

.square {
    height: 10px;
    width: 10px;
    background-color: green;
    display: inline-block;
}

.square-purple {
    background-color: #b15fb1;
}

.square-red {
    background-color: red;
}

.bullet {
    height: 10px;
    width: 10px;
    background-color: #67d76c;
    border-radius: 50%;
    display: inline-block;
}

.bullet-red {
    background-color: red;
}

.expbutton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logextrabutton {
    position: absolute;
    right: 2%;
}

.proxymock-content-container {
    margin-left: 2px;
    margin-right: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.proxymock-content {
    width: 75%;
    display: flex;
    flex-direction: column;
    background-color: #c0c3bf;
    margin-left: 14px;
    margin-bottom: 10px;
    padding: 10px;
}

.proxymock-entity {
    color:#999999; 
    display: flex; 
    justify-content: flex-end;
}

.proxy-obj, .mock-obj {
    margin-bottom: 7px;
    display: flex;
    align-items: center;
}

.proxy-obj label, .mock-obj label {
    margin-right: 8px;
    min-width: 140px;
}

.mock-file-edit {
    margin-top: 2px;
    align-self: flex-end;
}
    
.small-btn {
    padding-block-end: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
}

.small-btn-close {
    background-color: #d19999;
    margin-left: 6px;
}

.action-btn {
    min-width: 60px; 
    min-height: 34px;
    margin-right: 3px;
}

#compactlist {
    width: 75%;
    background-color: #e1e0e0;
    padding: 18px;
    margin-top: 50px;
    font-size: 14px;
}

footer .action-btn {
    margin-top: 20px;
}

#cover {
    position: absolute;
    z-index: 999998;
    width: 97%;
    height: 100%;
    background-color: #a99c9c;
    padding: 20px;
}

#curl-dialog {
    position: fixed;
    display: flex;
    flex-direction: column;
    border: 5px solid #000000;
    z-index: 999999;
    width: 70%;
    height: 60%;
    left: 10%;
    top: 20%;
    background-color: #889b8e;
    padding: 20px;
}
